doctype html
html.
extends layout

block content
  <h1>  #{title} </h1>
  <p> Welcome to #{title} </p>
  <button id="aboutButton" href="http://localhost:3000//about" onclick="aboutButton()" type="button" class="btn btn-default">About</button>

  <div id="Main"> </div>
